services:
  - type: web
    name: fastapi-app
    runtime: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: uvicorn src.main:app --host 0.0.0.0 --port 8000
    envVars:
      - key: DEBUG
        value: "False"