<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <style>{{ INLINE_CSS }}</style>
    <!-- <link rel="stylesheet" href="../../static/styles/email.css"> -->
</head>
  <body>
    <div class="container">
      <h2>Your confirmation code</h2>
      <p>Here is your code to finish the registration:</p>
      <div class="code">{{ CONFIRMATION_CODE }}</div>
      <p>If you did not request this code, ignore this email.</p>
      <div class="footer">© 2025 Bankrupt</div>
    </div>
  </body>
</html>