<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <style>{{ INLINE_CSS }}</style>
    <link rel="stylesheet" href="../../static/styles/email.css">
</head>
  <body>
    <div class="container">
      <h2>Your reset link</h2>
      <p>Here is your reset link to reset your password:</p>
      <a class="link" href={{ RESET_LINK }}>Click here to reset</a>
      <p>If you did not request password reset, ignore this email or contact with support.</p>
      <div class="footer">© 2025 Bankrupt</div>
    </div>
  </body>
</html>